<footer class="mt-auto">
  <div class="container">
    <div class="row">
      <div class="text-center"><i class="fa-solid fa-ellipsis"></i></div>
      <div class="row text-center">
        <div class="col-md-4 box">
          <ul class="list-inline quick-links">
            <li class="list-inline-item">
              <%= link_to "About this website", about_path, class: "pagination-btn" %>
            </li>
          </ul>
        </div>
        <div class="col-md-4 box">
          <p>Made by Marcos, with love</p>
        </div>
        <div class="col-md-4 box">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://github.com/marcosgabriel-smc" target="_blank">
                <i class="fa-brands fa-github pagination-btn"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/marcosgabriel-costa/" target="_blank">
                <i class="fab fa-linkedin-in pagination-btn"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://soundcloud.com/marcos-gabriel-7" target="_blank">
                <i class="fa-brands fa-soundcloud pagination-btn"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
