<div class="container h-80">
  <% if @posts.empty? %>
    <div class="h-100 d-flex flex-column justify-content-center align-items-center">
      <h1>This is where your Posts will apear.</h1>
      <%= link_to "Start Writting", new_post_path, class: "pagination-btn fw-bold" %>
    </div>
  <% else %>
    <%= render "shared/posts_card", posts: @posts %>
  <% end %>
</div>
