.post-card {
  color: #1E5128;
  background-color: rgb(216, 233, 168)
}

.card-title > a {
  text-decoration: none;
  color: #1E5128;
}

.pagination-btn {
  text-decoration: none;
  color:  #4E9F3D;
}

.pagination-btn:hover {
  text-decoration: none;
  color: #fec503;
}

.category-pill {
  border-color: #1E5128;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 5px;
  background-color: #D8E9A8;
}

.category-pill > a {
  text-decoration: none;
  color:  #1E5128;
}

.main-title {
  background-color: #D8E9A8;
  border-width: 1px;
  border-style: solid;
}

.category-badge {
  border-color: #4E9F3D;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 5px;
}

.category-badge > a {
  text-decoration: none;
  color:  #4E9F3D;
}
