// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


html, body {
  height: 100%;
}

body {
  color: #4E9F3D;
  background-color: #191A19;
  display: flex;
  flex-direction: column;
}


.footer {
  flex-shrink: 0;
}
